.card-title,
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-img-top {
    height: 180px;
}

/* .parent {
    overflow: hidden;
}

.card {
    overflow: hidden;
    transition: .63s ease;
}

.card:hover {
    /* box-shadow: 5px 5px 20px; */
    /* transform: scale(1.13); */
/* } */
